/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set the background color */
  body {
    background-color: #0080c0; /* Warna biru laut */
    font-family: 'Poppins', sans-serif;
  }

  /* Center the login section vertically */
  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Style the container */
  .container {
    background-color: #fff; /* Warna latar belakang putih */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    max-width: 400px;
  }
  
  /* Style the title */
  .container h2 {
    font-size: 24px;
    color: #333; /* Warna teks hitam */
    margin-bottom: 10px;
  }
  
  /* Style the subtitle */
  .container p {
    font-size: 18px;
    color: #555; /* Warna teks abu-abu */
    margin-bottom: 20px;
  }
  
  /* Style the input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Warna border abu-abu */
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Style the password toggle icon */
  .toggle-password {
    cursor: pointer;
  }
  
  /* Style the login button */
  button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #005b96, #00a8e8); /* Gradien biru laut */
    border: none;
    border-radius: 5px;
    color: #fff; /* Warna teks putih */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the login button on hover */
  button:hover {
    background: linear-gradient(to right, #00a8e8, #005b96); /* Gradien biru laut terbalik */
  }
 
  /* CSS untuk footer */
  .footer {
    background-color: #0080c0; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    text-align: center;
    padding: 10px 0; /* Padding atas dan bawah untuk ruang di dalam footer */
    width: 100%; /* Lebar footer 100% dari lebar layar */
    position: fixed; /* Footer ditempel di bagian bawah layar */
    bottom: 0; /* Footer di tempatkan di bagian bawah */
    left: 0; /* Footer ditempatkan di kiri */
  }

/* Style teks copyright */
.footer p {
  margin: 0; /* Hapus margin bawaan */
  font-size: 14px;
}

/* Style teks link copyright (jika diperlukan) */
.footer a {
  color: #fff; /* Warna teks link */
  text-decoration: none; /* Hapus garis bawah link */
}
